body{
	background-color: #232323;
	margin: 0;
	font-family: "Avenir";

}
.square{
	width: 15%;
	padding-bottom: 10%;
	background: purple;
	float: right; 
	margin: 0.66%;
	border-radius: 15%; 
	transition: background 0.6s;
    -webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;*/
}

#message{
	display: inline-block;
	width: 20%;
}
#container{
	max-width: 600px;
	margin: 20px auto;
}
h1{
	text-align: center;
	color: white;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}
.selected{
	color: white;
	background: steelblue;
}
#colorDisplay{
	font-size: 200%; 
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;

}
button:hover{
	color: white;
	background: steelblue;
}